<!DOCTYPE html>
<html>
<head>
	<title>Simple Test</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <div class="tester">
		<h2>Upload</h2>
		<form method="POST" enctype=multipart/form-data>
			<input type="file" name="file">
			<input type="submit" name="upload">
		</form>
	</div>
	<div class="output">
		<p>{{generated}}</p>
	</div>
	<div class="video">
		<img src="{{ url_for('video_feed') }}" width="100%">
	</div>
</body>
</html>
