<!DOCTYPE html>
<html>
<head>
	<title>Simple Test</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
  <div class="tester">
		<h2>Upload</h2>
		<form method="POST" enctype=multipart/form-data action="{{ url_for('predict') }}">
			<input type="file" name="file">
			<input type="submit" name="upload">
		</form>
	</div>
	<div class="output">
		<h2>Live Stream</h2>
		<p>{{result}}</p>
		<img src="{{ original }}" alt="original image" width="10%">
		<img src="{{ generated }}" alt="generated image" width="10%">
	</div>
	<div class="video">
		<form method="POST" action="{{ url_for('tasks') }}">
			<input type="submit" value="Capture" name="click"/>
			<input type="submit" value="Modify" name="click"/>
			</form>
		<img src="{{ url_for('video_feed') }}" width="80%">
	</div>
</body>
</html>
